* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
     height: 100%;
     width: 100%;
}
nav{
    display: flex;
    height: 5%;
    background-color: rgb(67, 131, 205);
    justify-content: space-around;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}
ul a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
section{
    display: flex;
    justify-content: center;
}
.firstcard{
    height: 30%;
    width: 95%;
    background-color: rgb(22, 85, 85);
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}
.image img{
    height: 200px;
    width: 300px;
    border-radius: 10px;

}
.headings{
    color: red;
    background-color: black;
    border-radius: 10px;
    padding: 30px;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: aquamarine;
}
.card{
    height: 15%;
    width: 15%;
    background-color: yellow;
}
img{
    height: 30px;
    width: 30px;
}